h1 {
  padding-bottom: 40px;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
}
h2 {
  padding-bottom: 40px;
  font-size: 64px;
  text-align: center;
  font-weight: bold;
}
h3 {
  padding-bottom: 40px;
  font-size: 54px;
  text-align: center;
  font-weight: bold;
}
h4 {
  padding-bottom: 40px;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
}